<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://postgres:5432/db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345</property>

        <!-- DB Dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- create / create-drop / update -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="show_sql">true</property>
        <!-- Show SQL formatted -->
        <property name="format_sql">true</property>

        <!-- Annotated entity classes -->
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Category"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Enclosure"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Entry"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Feed"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Image"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Link"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.Person"/>
        <mapping class="com.bbesniner.rssfeedserver.entities.hibernate.User"/>


    </session-factory>
</hibernate-configuration>